<!DOCTYPE html>
<html>
<head>
  <title>Images</title>
</head>
<body>
  <h3>Image list</h3>
  <div>
    <p>{{ image[0] }}</p>
    <p>{{ image[1] }}</p>
    <img src="/static/images/{{ image[1] }}">
  </div>
  <form action="/label_create/{{ image[0] }}" method="POST">
    <label>Annotation: </label><input type="text" name='annotation'/>
    <label>Geometry: </label><input type="text" name='geometry'/>
    <input type="submit" value="Add label" />
  </form>
  <form action="/image_delete/{{ image[0] }}">
    <input type="submit" value="Delete" />
  </form>
</body>
</html>
